<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags("app")}}
        {% endblock %}
    </head>
    <body>
        {% block nav %}
        {% if is_granted("IS_AUTHENTICATED_FULLY")%}
            {% include "menu/menu_connecte.html.twig" %}
        {% else %}
            {% include "menu/visiteur.html.twig" %}
        {% endif %}
        {% endblock %}
        {% for type, messages in app.flashes %}
            <div class="has-background-{{type}}">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
        {% endfor %}
        {% block body %}
            
        
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
