{% extends "menu/admin.html.twig" %}
{% block body %}
    <table class="table">
    {% for categorie in categories %}
    <tr>
        <td>categorie.titre</td>
        <td>categorie.motscles</td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}